@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    background: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}
